<app-layouts [title1]="Person">
    <h2>Persons</h2>

    <app-person-search></app-person-search>

    <a [routerLink]="['/',AppUrl.Person,AppUrl.PersonCreate]" class="btn btn-success">
        Create Person
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>ชื่อ</th>
                <th>สกุล</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items.items">
                <td>{{item.id}}</td>
                <td>{{item.firstname}}</td>
                <td>{{item.lastname}}</td>
                <td>
                    <a [routerLink]="['/',AppUrl.Person,AppUrl.PersonView,item.id]" class="btn">ดู</a>
                    <a [routerLink]="['/',AppUrl.Person,AppUrl.PersonUpdate,item.id]" class="btn">แก้ไข</a>
                    <a (click)="DeletePerson(item.id)" class="btn">ลบ</a>
                </td>
            </tr>
        </tbody>
    </table>
</app-layouts>